
  
  @font-face {
    font-family: 'DIN Next Normal';
    src: url('/fonts/dinnext_n4.438c249fdbceeefafa64221353c5ece2fdb8ae14.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'DIN Next Medium';
    src: url('/fonts/dinnext_n5.9de62f474792d83a5c7487ba13c73b05f03f03c7.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'Futura Normal';
    src: url('/fonts/futura_n3.cc9b68efd1cfa8296b0ec7d463066804b6bcc72b.woff2') format('woff2');
  }

.text-slider-container {
    position: relative;
}
*{
    margin: 0;
    padding: 0;
}
.text-slider-container span {
    cursor: pointer;
}

.text-slider-container .text {
    display: none;
    transition: 1s !important;
}

.text-slider-container .text.active {
    display: block;
}

.mainh{
    position: sticky;
    top: 0;
    background-color:#0d0d0d;
    z-index: 1000;
    
}

.logo
{
    position: absolute;
    left: 50%;
    top: 28%;
    transform: translateX(-50%);
}
 .contentx {
    z-index: 10000;
    display: flex;
    justify-content: space-between !important;
    width: 100% !important;
    margin: 0 !important;
     /*border: 1px solid red !important;*/
 }
 
 .web_li {
     /*border: 1px solid red !important;*/
     height: 50px;
     margin:0 !important;
     padding: 0 !important;
     display: flex;
     justify-content: space-around;
     align-content: space-around;
     align-items:center;
 }

 .web_li li {
     list-style-type: none;
    }
    
    .web_li li a {
        text-decoration: none;
        color: white;
        margin: 0 10px;
        cursor: pointer;
 }
 .drop,.drop1,.drop2 {
    margin-top: -15px;
    padding: 10px;
    position: absolute;
    display: none;
    max-height: auto;
    width: 100vw;
    background-color: white;
    transition: 1s;
}
@keyframes slideFromBottom {
    0% {
        opacity: 0;
        transform: translateY(10%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.box {
    /* width: 300px; */
    margin: 15px;
    display: inline-block;
}
.rightd a svg{
    color: white;
}
#dimg:hover{
    transform: scale(1.1);
}
.dropdown-link,.dropdown-link1,.dropdown-link2{
    opacity: 0;
}
.header_headings{
    text-align: center; 
    color:black;
    font-family:DIN Next Medium;
    font-size: 13px;
    text-transform: uppercase;
    margin-top: 5%;
}
.list_of_home{
    font-family: DIN Next Medium, sans-serif !important;
    font-size: 13px;
}
.list_of_home:hover{
    border-bottom: 1px solid white;
}
#menubt {
    position: relative;
    display: inline-block;
}

#menubt .dropdown-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-55%);
        background-color: #fff;
        padding: 10px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        z-index: 1;
}

#menubt:hover .dropdown-menu {
    display: block;
    position: absolute !important;
}

#menubt .dropdown-menu a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: #333;
}

#menubt .dropdown-menu a:hover {
    background-color: #f5f5f5;
    
}

.overlay {
    display: none;
    position: fixed;
    top: 30%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
}

.overlay.active {
    display: block;
}

.whatsapp {
    position: fixed !important;
    bottom: 10px;
    right: 10px;
    height: 80px;
    width: 80px;
    z-index: 100;
}

.whatsapp svg:hover {
    fill: #00a03b;
    transition: all .5s !important;
    transform: scale(1.2);
}
/* .top-dropdwon{

} */
#menuIcon{
    cursor: pointer;
    z-index: 999999999999999999999 !important;
    color: white !important;
    margin: 0 !important;
}
.mobile_navbar {    
    padding: 0px !important;
    display: none;
    margin: 0 !important;
}
.open-from-left {
    position: absolute; 
    top: 0;
    left: 0;
    width: 220px; 
    height: 100vh;
    background-color: #0d0d0d;
    color: white;
    z-index: 999;
    display: none;
    overflow-y: auto; 
}

.open-from-left.active {
    display: block;
}

.first_li,
.second_li,
.third {
    padding: 10px 0 10px 20px;
}

.first_li h3 {
    font-family: Futura Normal, sans-serif;
    margin: 0;
    padding-bottom: 10px;
}

.first_li .linkfornextpage{
    font-family: DIN Next Medium, sans-serif;
    text-decoration: none;
    color: wheat;
}
.overlay1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 998; 
    display: none; 
}

.overlay1.active {
    display: block; 
}
.home_name{
    font-size: 16px;
    cursor: pointer;
}
.leftd{
    display: flex !important;
    align-items: center !important;
}
.counter-badge{
            color: black;
            background:white;
            border-radius:50%;
            font-size:11px;
            top:-10;
            right:10;
            width:16px;
            height:16px;
            text-align:center;
        }

@media (max-width: 435px) {
    .logo{
        /*display: flex !important;*/
        /*justify-content: center !important;*/
        /*align-items: center !important;*/
        top:-2%;
    }   
}
@media (max-width: 768px) {
    .text-slider-container {
        position: relative;
        width: 100% !important;
    }
    .mobile_navbar {    
        display: inline-block;
        margin: 0 !important;
    }
    .web_li{
        display: none;
    }
 
    .mhb img{
        width: 70px;
        object-fit: contain;
        aspect-ratio: 3/2;
    }
    .home_name{
        font-size: 30px !important;
        color: white !important;
    }
    #menubt .dropdown-menu a {
        display: block;
        padding: 8px;
        text-decoration: none;
        color: #333;
    }
    #menubt .dropdown-menu {
        transform: translateX(-75%);
        
}

    
    
}

@media (max-width: 767px) {
    .counter-badge{
            color: black;
            background:white;
            border-radius:50%;
            font-size:11px;
            top:-10;
            left:-5%;
            width:16px;
            height:16px;
            text-align:center;
        }
}


@media (max-width: 1160px) {
    .mobile_navbar {    
        display: inline-block;
        margin: 0 !important;
    }
    .web_li{
        display: none;
    }
    
}