{% extends 'app.html' %}
{% block content %}
<section class="cal-height bg-white">

  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  <div class="container sticky-top">
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} d-flex align-items-center alert-dismissible fade show px-md-5" role="alert">
      <h6 class="h6"> {{ message }} </h6>
      <button type="button" class="btn-close py-md-3 px-md-5 fw-bold" data-bs-dismiss="alert"
        aria-label="Close"></button>
    </div>
    {% endfor %}
  </div>
  {% endif %}
  {% endwith %}

  <div class="px-5 py-3">
    <div class="row">
      <div class="col-12">
        <div class="mb-3">
          <h2 class="h2 display-5 lora-italic text-center">Asset Discovery</h2>
          <hr class="border border-3 border-primary" />
        </div>
      </div>
    </div>
    <div class="row align-items-start">
      <div class="col-md-3">
        <div class="border border-3 border-primary p-3 rounded-5">
          
            <div class="row align-items-center">
              <div class="my-3">
                
                <div class="input-group py-2">
                 
                </div>
              </div>
              <div class="row align-items-center w-100">
                <div class="d-flex align-items-center justify-content-between flex-reverse flex-wrap gap-3">
                  <a class="btn btn-outline-primary fw-semibold w-100" href="{{ url_for('dashboard') }}">
                    <div class="d-flex align-items-center">
                      <i class="bi bi-bounding-box fs-4"></i>
                      <span class="px-3">Dashboard</span>
                    </div>
                  </a>
                  <a class="btn btn-outline-primary fw-semibold w-100" href="{{ url_for('start_capture') }}">
                    <div class="d-flex align-items-center">
                     <i class="bi bi-broadcast fs-4"></i>
                      <span class="px-3">Packet Capturing</span>
                    </div>
                  </a>
                  <a class="btn btn-outline-primary fw-semibold w-100" href="{{ url_for('visualization') }}">
                    <div class="d-flex align-items-center">
                      <i class="bi bi-diagram-3 fs-4"></i>
                      <span class="px-3">Visualization</span>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-9">
      
        <div class="border border-3 border-primary p-3 rounded-5">
          <div class="card border border-0 py-3">
            <div class="card-header bg-custom-dark text-center">
              <h4 class="h4 fw-semibold">Results</h4>
            </div>
            <div class="card-body p-0">
              <div class="table-responsive">
                <table class="table table-bordered align-middle"
                  style="max-width: 100vw !important; max-height:60vh !important; ">
                  <thead class="bg-primary text-white">
                    <tr>
                      <th>Source Mac</th>
                      <th>Destination Mac</th>
                      <th>Source Vendor</th>
                      <th>Destination Vendor</th>
                
                  </tr>
              </thead>
              <tbody>
                  {% for packet in packets %}
                  <tr>
                      <td>{{ packet.source_mac }}</td>
                      <td>{{ packet.destination_mac }}</td>
                        <td>{{ packet.source_vendor }}</td>
                      <td>{{ packet.destination_vendor }}</td>
                    
                  </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}